# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\java课件\javaweb配套资料\课件\JavaWeb\课程资料\day25_综合案例1\day25_综合案例1\资料\08-初始项目\travel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
